{% extends "mxv/base.html" %}
{% load static %}

{% block title%}{{ amendment.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' amendment.proposal.theme.track.pk %}">{{ amendment.proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' amendment.proposal.theme.pk %}">{{ amendment.proposal.theme.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:proposal' amendment.proposal.pk %}">{{ amendment.proposal.name }}</a></li>
    <li class="breadcrumb-item active">{{ amendment.name }}</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Created by</b></td><td>{{ amendment.created_by.name }}</td></tr>
        <tr><td><b>Created at</b></td><td>{{ amendment.created_at }}</td></tr>
        <tr><td><b>Moderation requests</b></td><td>{{ amendment.moderation_requests.count }}</td></tr>
    </table>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
    </form>    
    {% if amendment.proposal.theme.track.submissions_currently_allowed and amendment.created_by == user %}
        <a href="{% url 'review:edit_amendment' amendment.pk %}" class="btn btn-success">Edit</a>
        <a href="{% url 'review:delete_amendment' amendment.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
    {% if amendment.created_by != user %}
        {% if not user_requested_moderation %}
            <a href="{% url 'review:moderate_amendment' amendment.pk %}" class="btn btn-danger">Request moderation</a>
        {% else %}
            <p class="text-danger">You have requested moderation of this amendment:</p>
            <blockquote class="blockquote">
                <p class="text-danger small">{{ user_requested_moderation.reason }}</p>
            </blockquote>            
        {% endif %}
    {% endif %}
{% endblock %}