{% extends "mxv/base.html" %}
{% load static %}

{% block title%}{{ comment.short_text }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' comment.proposal.theme.track.pk %}">{{ comment.proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' comment.proposal.theme.pk %}">{{ comment.proposal.theme.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:proposal' comment.proposal.pk %}">{{ comment.proposal.name }}</a></li>
    <li class="breadcrumb-item active">{{ comment.short_text }}</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Created by</b></td><td>{{ comment.created_by.name }}</td></tr>
        <tr><td><b>Created at</b></td><td>{{ comment.created_at }}</td></tr>
        <tr><td><b>Moderation requests</b></td><td>{{ comment.moderation_requests.count }}</td></tr>
    </table>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}

        {% if not comment.created_by.is_ncg and not comment.created_by.is_members_council and comment.created_by != user %}
            {% if not user_requested_moderation %}
                <a href="{% url 'review:moderate_comment' comment.pk %}" class="btn btn-danger">Request moderation</a>
            {% else %}
                <br/>
                <p class="text-danger">You have requested moderation of this comment:</p>
                <blockquote class="blockquote">
                    <p class="text-danger small">{{ user_requested_moderation.reason }}</p>
                </blockquote>     
                <button type="submit" name="cancel_moderation" class="btn btn-danger">Cancel moderation request</button>
            {% endif %}
        {% endif %}
    </form>    
{% endblock %}