{% extends "mxv/base.html" %}
{% load static %}

{% block title%}Edit {{ proposal.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' proposal.theme.track.pk %}">{{ proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' proposal.theme.pk %}">{{ proposal.theme.name }}</a></li>
    <li class="breadcrumb-item active">Edit {{ proposal.name }}</li>
{% endblock %}

{% block content %}
    <small class="card-text text-muted">
        Created by: {{ proposal.created_by.name }}
        <br>
        Created at: {{ proposal.created_at }}
        <br>
        Nominations: {{ proposal.nominations.count }}
        <br>
        Amendments: {{ proposal.amendments.count }}
        <br>
        Views: {{ proposal.views }}
    </small>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'review:proposal' proposal.pk %}" class="btn btn-primary">Cancel</a>
    </form>    
{% endblock %}