{% extends "mxv/base.html" %}
{% load static %}

{% block title%}Democracy Review{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Democracy Review</li>
{% endblock %}

{% block content %}
    <div class="row">
        {% for track in tracks %}
            <div class="col-sm">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ track.name }}</h4>
                        <p class="card-text">{{ track.description }}</p>
                        <h6 class="card-text text-muted">Submission deadline: {{ track.submission_deadline }}</h6>
                        <h6 class="card-text text-muted">Nomination deadline: {{ track.nomination_deadline }}</h6>
                        <a href="{% url 'review:track' track.pk %}" class="btn btn-primary">View track</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}