{% extends "mxv/base.html" %}
{% load static %}

{% block title%}New proposal{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' theme.track.pk %}">{{ theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' theme.pk %}">{{ theme.name }}</a></li>
    <li class="breadcrumb-item active">New proposal</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
        <button type="submit" class="btn btn-success">Create new proposal</button>
        <a href="{% url 'review:theme' theme.pk %}" class="btn btn-primary">Cancel</a>
    </form>
{% endblock %}