{% extends "mxv/base.html" %}
{% load static %}

{% block title%}{{ proposal.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' proposal.theme.track.pk %}">{{ proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' proposal.theme.pk %}">{{ proposal.theme.name }}</a></li>
    <li class="breadcrumb-item active">{{ proposal.name }}</li>
{% endblock %}

{% block content %}
    <div class="row card-text text-muted small">
        <div class="col-sm"><b>Created by:</b> {{ proposal.created_by.name }}</div>
        <div class="col-sm"><b>Created at:</b> {{ proposal.created_at }}</div>
        <div class="col-sm"><b>Nominations:</b> {{ proposal.nominations.count }}</div>
        <div class="col-sm"><b>Amendments:</b> {{ proposal.amendments.count }}</div>
        <div class="col-sm"><b>Views:</b> {{ proposal.views }}</div>
    </div>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
    </form>    
    {% if proposal.created_by == user %}
        <a href="{% url 'review:edit_proposal' proposal.pk %}" class="btn btn-success">Edit</a>
        <a href="{% url 'review:delete_proposal' proposal.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <hr>
    <div class="row card-text text-muted">
        <div class="col-sm">
            <h6>Amendments</h6>
            {% for amendment in amendments %}
                <div class="card bg-light border-secondary mt-4" style="">
                    <a href="{% url 'review:amendment' amendment.pk %}" class="text-left">
                        <div class="card-body">
                            <table class="card-text text-muted small">
                                <tr><td><b>Created by:</b></td><td>{{ amendment.created_by.name }}</td></tr>
                                <tr><td><b>Created at:</b></td><td>{{ amendment.created_at }}</td></tr>
                            </table>
                            <hr>
                            <p class="card-text">{{ amendment.text }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm">
            <h6>Comments</h6>
        </div>
    </div>
{% endblock %}