{% extends "mxv/base.html" %}
{% load static %}

{% block title%}{{ theme.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' theme.track.pk %}">{{ theme.track.name }}</a></li>
    <li class="breadcrumb-item active">{{ theme.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'review:new_proposal' theme.pk %}" class="btn btn-primary">New proposal</a>
    </div>
    <div class="row">
        {% for proposal in proposals %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ proposal.name }}</h4>
                        <small class="card-text text-muted">
                            Created by: {{ proposal.created_by.name }}
                            <br>
                            Created at: {{ proposal.created_at }}
                            <br>
                            Nominations: {{ proposal.nominations.count }}
                            <br>
                            Amendments: {{ proposal.amendments.count }}
                        </small>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'review:proposal' proposal.pk %}" class="btn btn-primary">View proposal</a>
                    </div>
                </div>
            </div>
        {% endfor %}    
    </div>
{% endblock %}