{% extends "mxv/base.html" %}
{% load static %}

{% block title%}{{ track.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item active">{{ track.name }}</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Submissions</b></td><td>{% if track.allow_submissions %} {{ track.submission_start }} - {{ track.submission_end }} {% else %}N/A {% endif %}</td></tr>
        <tr><td><b>Voting</b></td><td>{% if track.allow_nominations %} {{ track.nomination_start }} - {{ track.nomination_end }} {% else %}N/A {% endif %}</td></tr>
    </table>
    <br/>
    <p class="card-subtitle text-danger small">{% if track.urgent %}This track is currently the priority.{% endif %}</p>
    <div class="row">
        {% for theme in themes %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'review:theme' theme.pk %}"><h4 class="card-title">{{ theme.name }}</h4></a>
                        <table class="card-text text-muted small">
                            <tr><td><b>Proposals</b></td><td>{{ theme.proposals.count }}</td></tr>
                        </table>
                        <hr>
                        <p class="card-text">{{ theme.description }}</p>
                        <div class="text-right">
                            <a href="{% url 'review:theme' theme.pk %}">View <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}