{% extends "mxv/base.html" %}
{% load static %}

{% block title%}{{ track.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item active">{{ track.name }}</li>
{% endblock %}

{% block content %}
     <div class="row card-text text-muted small">
        <div class="col-sm"><b>Submission deadline:</b> {{ track.submission_deadline }}</div>
        <div class="col-sm"><b>Nomination deadline:</b> {{ track.nomination_deadline }}</div>
    </div>
    <div class="row">
        {% for theme in themes %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">
                    <a href="{% url 'review:theme' theme.pk %}" class="text-left">
                        <div class="card-body">
                            <h4 class="card-title">{{ theme.name }}</h4>
                            <table class="card-text text-muted small">
                                <tr><td><b>Proposals:</b></td><td>{{ theme.proposals.count }}</td></tr>
                            </table>
                            <hr class="border-secondary">
                            <p class="card-text">{{ theme.description }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}