{% extends "mxv/base.html" %}
{% load static %}

{% block title%}Answers{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'questions:index' %}">Questions</a></li>
<li class="breadcrumb-item active">Answers</li>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">

    <div class="col-sm-12">
      <a href="{% url 'questions:index' %}"><h4>↶ Return to all questions</h4></a>
    </div>
    
    <div class="col-sm-12 col-lg-8">

      {% if pending_answer %}

      <span class="badge badge-light bg-gray-500" style="color: #ffffff;">Your answer is pending moderation</span>

      {% elif has_answered%}

      <span class="body-1 success">✓</span><span class="badge badge-success body-label-1">You've answered</span>

      {% endif %}

      <h4 class="my-3">“{{ question.text }}”</h4>
      <p class="label-1 gray-500">Posted by <span class="secondary">{{ question.author.name }}</span> in <span class="secondary">{{question.category.title}}</span></p>

      {% if allow_answer %}

      <a href="#" class="btn btn-outline-primary btn-block">Write your answer</a>

      {% endif %}

    </div>
  
  </div>

</div>

<div class="container-full grey-backing-strict" style="border-bottom: 1px solid #E5E5E5;">

  <div class="row justify-content-center">
  
  {% if not answers and current_region_readable == "All regions" %}
  {% else %}
  <div class="col-sm-12 col-lg-8">
    <form class="form-group" action="{% url 'questions:index' %}" method="POST" id="answer_display_data">
      {% csrf_token %}
      <input type="hidden" id="id_answer_display_question" name="answer_display_question" value="{{question.id}}">
      <select id="id_answer_display_region" name="answer_display_region" onchange="this.form.submit()">
        <option disabled selected style="display: none;">
          <p>{{current_region_readable}}</p>
        </option>
        {% for region in region_list %}
        <option value="{{region.code}}">{{ region.readable }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
  {%endif%}


    {% if not answers %}

    <div class="col-sm-12">
      <h3 class="gray-600" style="text-align: center;">This question hasn’t been answered by any candidates{% if  current_region_readable != "All regions" %} from {{ current_region_readable }} {% endif %} yet. </h3>
    </div>
    
    {% else %}

    <div class="col-sm-12">
      <h2>{{ answers|length }} Answer{% if answers|length > 1 %}s{% endif %}</h2>
    </div>
    
    {% endif %}

  </div>

  <div class="row justify-content-center">

    {% for answer in answers %}

    <div class="col-sm-8">
      {% include './answer_card.html' with answer=answer %}
    </div>
    {% endfor %}

  </div>
</div>

{% if allow_answer or reject or pending_answer or has_answered %}
<div class="container mt-0 p-4 pb-0" > 
  
  <div class="row justify-content-center" >

    {% if reject %}
    <div class="col-sm-12 col-lg-8">
      {% include './answer_card.html' with answer=reject badge_text="Declined by moderator" statusline=reject.reject_reason %}
    </div>
    {% endif %}

    <div class="col-sm-12 col-lg-8">
      <h2>{% if allow_answer %}Write your answer{% else %}You've answered{% endif %}</h2>
      <p>Rules about answering</p>
    </div>
  
  </div>
  <div class="row justify-content-center">


  {% if allow_answer %}
  
    <div class="col-sm-12 col-lg-8">
      <form method="post" novalidate>
        {% csrf_token %}
        {# TODO some way of limiting question to 200 words #}
        {% include 'mxv/includes/form.html' %}
        <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#submitModal">SUBMIT</button>
        
        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
        aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h2>Please check your answer</h2>
                <p>If you haven’t already, please check your answer. <br><br>Once submitted, answers <strong>cannot</strong>
                be edited or deleted.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">Go back</button>
                <button type="submit" class="btn btn-outline-primary btn-block">SUBMIT</button>
              </div>
            </div>
          </div>
        </div>  

      </form>   

    </div>

  {% else %}  

  
    <div class="col-sm-12 col-lg-8">
    {% if pending_answer %}
      {% for answer in pending_answer %}
        {% include './answer_card.html' with answer=answer badge_text="This answer is pending moderation" %}
      {% endfor %}
    {% endif %}
    
    {% if has_answered %}
      {% for answer in has_answered %}
        {% include './answer_card.html' with answer=answer badge_status="success" badge_text="✓ You've answered" %}
      {% endfor %}  
    {% endif %}
    </div>

  {% endif %}
  
  </div>

</div>  

{% endif %}

{% endblock %}