<div class="card" {% if answer.candidate.member.email == user.email%}style="border: 2px solid{% if badge_status == 'success' or answer.status == 'approved' %}#04B14A{% elif answer.status = 'rejected' %}#adb5bd{% else %}#E20613{% endif %}"{% endif %}>
  <div class="card-body">
    {% if badge_text %}
    <div class="card-row-body p-2">
      {% if badge_status %}
      <span class="badge badge-{{badge_status}}">
      {% else %}
      <span class="badge badge-light bg-gray-500" style="color: #ffffff;">
      {% endif %}
        {{ badge_text }}
      </span>
    </div>
    {% endif %}
    <div class="card-row-body p-2">
      <h2 class="mt-0 py-0 my-0 ">{{ answer.candidate.member.name }}</h2>
      <p class="label-1 secondary py-0 my-0">{{ answer.candidate.get_position_display }}</p>
      <a class="body-sm-1 py-0 my-0" target="_blank" href="https://vote.peoplesmomentum.com/{{answer.candidate.candidate_code}}">More about this candidate</a>
      <p class="mt-4">{{ answer.text }}</p>
    </div>
    {% if statusline %}
    <div class="card-row-body px-2">
      <hr class="mt-0">
      <p>{{statusline}}</p>
    </div>
    {% endif %}

  </div>
</div>