{% if not is_candidate %}

  {% if question.voted %}
  <a href="{% url 'questions:unvote' question.pk %}" style="text-decoration: none;">
    <button  class="btn btn-outline-primary active m-0" style="min-height: auto;">
      {% include './filledArrow.html' with fill='white'%}
      <span class="white label-1 align-middle">{{question.num_votes}}</span>
    </button>
  </a>
  {% else %}
  
  <a href="{% url 'questions:vote' question.pk %}" style="text-decoration: none;">
  <button class="btn btn-outline-primary m-0" type="button" style="min-height: auto;" >
    {% include './emptyArrow.html' %}
    <span class="label-1 align-middle" >{{question.num_votes}}</span>
  </button>
  </a>

  {% endif %}  

{% else %}

  <span>{% include './filledArrow.html' with fill='#e20316'%}</span>
  <span class="label-1"><span class="red label-1">{{question.num_votes}}</span> vote{%if question.num_votes != 1%}s{%endif%}</span>

{% endif%}

<span class="badge badge-pill align-middle {%if question.num_answers == 0%}badge-secondary{% else %}badge-danger{%endif%}">
  {% if question.num_answers == None %}
  0
  {% else %}
  {{question.num_answers}}
  {% endif %}
</span>
<span class="label-1 align-middle">answer{%if question.num_answers != 1%}s{%endif%}</span>


