<!-- admin base -->
{% extends './mxv_admin_base.html' %}

<!-- breadcrumb name -->
{% block breadcrumb_name %}Send member activation emails{% endblock %}

<!-- content -->
{% block content %}

<p>The test email address has to be an MxV member for this to work.</p>

<form action="{% url 'membersadmin:send_member_activation_emails' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="send_test" value="Send test email" />
    <input type="submit" name="cancel" value="Cancel changes to email settings" />
    <br />
    <input type="submit" name="send" value="Send activation email to all inactive members" />
    <br />
    <input type="submit" name="send_to_count_uninvited" value="Send activation email to [send count] uninvited [is active] members" />
</form>

{% endblock %}
