<footer class="footer">
  <div class="container-full grey-backing pseudocontainer mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <p class="body-sm-1">Data entered on this site will be processed in accordance with our <a href="http://www.peoplesmomentum.com/privacy_policy" target="_blank">Privacy policy</a>.</p>
        <p class="body-sm-1">Promoted by Momentum Information, of Cannon Wharf, Pell Street, Surrey Quays, London SE8 5EN.</p>
      </div>
    </div>
  </div>
</footer>