{% extends "mxv/base.html" %}
{% load static %}

{% block title%}Home{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    <p>Welcome to My Momentum, the digital platform that enables members to learn, organise and make decisions together.</p>
    {% if member_logged_in %}
        {% if show_ncg_voting %}
            <p>You can now <a href="{% url 'ncg_election' %}" target="_blank">vote in the NCG election</a>.</p>
        {% endif %}
    {% else %}
        <p>If you’re a member of Momentum but haven't activated your account yet, just check your email for your activation link from <a href="mailto:mymomentum@peoplesmomentum.com">mymomentum@peoplesmomentum.com</a> or <a href="{% url 'members:request_activation_email' %}">request a new account activation email</a>.</p>
        <p>Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/" target="_blank">Sign up today</a> and join the discussion.</p>
    {% endif %}
    <div class="row">

        {% if show_questions %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">               
                    <div class="card-body">
                        <a href="{% url 'questions:index' %}"><h4 class="card-title">Questions for NCG Candidates</h4></a>
                        <hr class="border-secondary">
                        <p class="card-text">Questions and answers for NCG candidates.</p>
                        <div class="text-right align-bottom">
                            <a href="{% url 'questions:index' %}">View <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if show_consultations %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">               
                    <div class="card-body">
                        <a href="{% url 'consultations:index' %}"><h4 class="card-title">Consultations</h4></a>
                        <hr class="border-secondary">
                        <p class="card-text">We're running a series of consultations on subjects that are important to our members.  Take part here.</p>
                        <div class="text-right align-bottom">
                            <a href="{% url 'consultations:index' %}">View <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-sm d-flex align-items-stretch pt-4">
        </div>
    </div>
{% endblock %}