{% load static %}

<!-- https://metatags.io/ -->

<!-- Primary Meta Tags -->
<title>MyMomentum</title>
<meta name="title" content="MyMomentum">
<meta name="description" content="My Momentum, the digital platform that enables members to learn, organise and make decisions together.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="MyMomentum">
<meta property="og:description" content="My Momentum, the digital platform that enables members to learn, organise and make decisions together.">
<meta property="og:image" content="{% static 'mxv/images/share.jpg' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="MyMomentum">
<meta property="twitter:description" content="My Momentum, the digital platform that enables members to learn, organise and make decisions together.">
<meta property="twitter:image" content="{% static 'mxv/images/logo.png' %}">