<!-- admin base -->
{% extends './mxv_admin_base.html' %}

<!-- breadcrumb name -->
{% block breadcrumb_name %}Edit member activation email{% endblock %}

<!-- content -->
{% block content %}

<p>Use [name] and [link] placeholders to insert the members' names and activation links.</p>
<p>Use '/static/mxv/images/logo.png' as the URL of an image to insert the Momentum logo (just in the HTML content).</p>
<br />

<form action="{% url 'usersadmin:edit_member_activation_email' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="save" value="Save" />
    <input type="submit" name="cancel" value="Cancel" />
</form>

{% endblock %}
