{% extends "mxv/base.html" %}
{% load static %}

{% block title%}Thanks for voting!{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultations:index' %}">Consultations</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultations:consultation' consultation.pk %}">{{ consultation.name }}</a></li>
    <li class="breadcrumb-item active">Thanks for voting!</li>
{% endblock %}

{% block content %}

    <h2>Thank you for voting!</h2>
    
    <p>Your answers have been saved.  Whatever the results of the consultation, Momentum will fight to make sure that we represent your views and get your collective voice heard.  Our movement’s viral videos and on the ground campaigning changed the course of an election. If you can afford to, please chip in to support the consultation and help us amplify your voice.</p>
    
    <br/>
    <a href="https://momentum.nationbuilder.com/donatenow" target="_blank" class="btn btn-success large-button-text">I'll chip in</a>
    <br/><br/><br/>
    <a href="{% url 'consultations:consultation' consultation.pk %}" class="btn btn-primary mr-4">Edit my votes</a><a href="{% url 'index' %}" class="btn btn-primary">Return to My Momentum</a>

{% endblock %}