{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block content %}
    <p>If you’re a member of Momentum but haven't activated your account yet, just check your email for your activation link from <a href="mailto:mymomentum@peoplesmomentum.com">mymomentum@peoplesmomentum.com</a> or <a href="{% url 'members:request_activation_email' %}">request a new account activation email</a>.</p>
    <p>Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/" target="_blank">Sign up today</a> and join the discussion.</p>
    <br/>
    <div class="row">
        <div class="col-sm">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                <input type="hidden" name="next" value="{{ next }}" />
                 <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br/>
            <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a></p>
        </div>
    </div>
{% endblock %}