{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                 <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p>Forgot password? <a href="{% url 'password_reset' %}">Reset it</a></p>
        </div>
    </div>
{% endblock %}