{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block content %}
    <p>If you’re a member of Momentum, just check your email for your activation link. Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/" target="_blank">Sign up today</a> and join the discussion.</p>
    <div class="row">
        <div class="col-sm">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                 <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p>Forgot password? <a href="{% url 'password_reset' %}">Reset it</a></p>
        </div>
    </div>
{% endblock %}