{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Confirm password reset{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Confirm password reset</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Change password</button>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}