{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Password reset</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                 <button type="submit" class="btn btn-primary">Reset password</button>
            </form>
        </div>
    </div>
{% endblock %}