{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Confirm password reset{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">

            {% if validlink %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'mxv/includes/form.html' %}
                    <button type="submit" class="btn btn-outline-primary btn-block">Change password</button>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                <a href="{% url 'password_reset' %}" class="btn btn-outline-primary btn-block">Request new password reset link</a>
            {% endif %}
        </div>
    </div>
{% endblock %}