{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <h4><a href="{% url 'login' %}">↶ Return to login</a></h4>
        <p>If you're a member of Momentum and you've already activated your account but forgotten your password then use this form to reset your password.</p>
        <p>If you’re a member of Momentum but haven't activated your account yet, just check your email for your activation link from <a href="mailto:mymomentum@peoplesmomentum.com">mymomentum@peoplesmomentum.com</a> or <a href="{% url 'members:request_activation_email' %}">request a new account activation email</a>.</p>
        <p>Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/" target="_blank">Sign up today</a> and join the discussion.</p>
        <br/>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'mxv/includes/form.html' %}
                <button type="submit" class="btn btn-outline-primary btn-block">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}