{% load static %}
{% load review_filters %}

<h3>Vote on how we should transform Labour</h3>
<br/>

<h4>My Momentum Track 3 Ballot</h4>
<p>Voting will be open from {{ voting_context.track_voting.voting_start|date:'l jS F' }} until {{ voting_context.track_voting.voting_end|date:'l jS F' }}. All the proposals in this ballot are based on proposals by individual members via our online platform My Momentum, Momentum’s National Coordinating Group, the Members’ Council and allied campaigning organisations such as the Campaign for Labour Party Democracy. Because all the proposals under Track 2 passed with large majorities, the NCG has decided that only proposals achieving over 66% of support will be submitted by Momentum into the Democracy Review.</p>

<br/><hr><br/>
<h4>Labour Government Accountability</h4>
<br/>
<p>SUMMARY: Labour should increase accountability in Local Government.</p>
<ul>
    <li>Local Campaign Forums should be replaced with Local Government Committees where every representative has a mandate from members, trade unions or both.</li>
    <li>All councillors should face open selections each term.</li>
    <li>Elected Mayors should face open selections each term.</li>
    <li>Labour group leaders should be elected by an electoral college made up of members and affiliated organisations.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Proposal_for_Local_Government.pdf' %}" target="_blank">Full proposal</a> | Source: This is based in part on proposals by <a href="{% url 'review:proposal' 69 %}" target="_blank">Alan</a>, <a href="{% url 'review:proposal' 99 %}" target="_blank">Ian</a>, <a href="{% url 'review:proposal' 50 %}" target="_blank">Jane</a>, and <a href="{% url 'review:proposal' 128 %}" target="_blank">Jody</a> and additional contributions from the NCG.</p>
<br/>
{{ voting_context|question_and_choices:16 }}

<br/><hr><br/>
<h4>Electing the Leader</h4>
<br/>
<p>SUMMARY: The leadership elections rules should be changed to allow candidates to get on the ballot with nominations from CLPs, trade unions or the PLP.</p>
<ul>
    <li>Candidates for the party leadership should be able to get on the ballot with nominations from either 10% of CLPs, 10% of Trade Unions or 10% of the PLP.</li>
    <li>The category of registered supporters should be retained and the costs should be capped at 10% of the membership fee.</li>
    <li>Members and registered supporters should be allowed to join and vote until 1 month before end of leadership election.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Proposal_for_Electing_the_Leader.pdf' %}" target="_blank">Full proposal</a> | Source: This is based in part on proposals by <a href="{% url 'review:proposal' 66 %}" target="_blank">Charlie</a> and <a href="{% url 'review:proposal' 129 %}" target="_blank">Jody</a> and additional contributions from the NCG.</p>
<br/>
{{ voting_context|question_and_choices:17 }}

<br/><hr><br/>
<h4>Electing the General Secretary</h4>
<br/>
<p>There has been some discussion about whether the General Secretary of the Labour Party should be an elected position. The NCG have decided to put this question to a vote of Momentum members to decide if Momentum should submit it into the Democracy Review and campaign for it.</p>
<br/>
{{ voting_context|question_and_choices:18 }}

<br/><hr><br/>
<h4>Freeze Dates</h4>
<br/>
<p>SUMMARY: The rules governing freeze dates for members to participate in the selection of local council candidates should be reformed to prevent them from being manipulated.</p>
<ul>
    <li>Freeze dates to be set 12 months before date of local elections.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Proposal_for_Freeze_Dates.pdf' %}" target="_blank">Full proposal</a> | Source: This is based in on a proposal by <a href="{% url 'review:proposal' 121 %}" target="_blank">Anthony</a>.</p>
<br/>
{{ voting_context|question_and_choices:19 }}

<br/><hr><br/>
<h4>NEC Composition</h4>
<br/>
<p>We have received a number of representations concerning principles governing the composition of the NEC.</p>
<br/>
{{ voting_context|question_and_choices:20 }}
{{ voting_context|question_and_choices:21 }}
<p>Please only answer this question if you identify as being disabled.</p>
{{ voting_context|question_and_choices:22 }}

<br/><hr><br/>
<h4>An NEC with full accountability to Members and Trade Unions</h4>
<br/>
<p>SUMMARY: The NEC should be overhauled to make it fully representative of members and trade unions. Key points include:</p>
<ul>
    <li>NEC should have oversight over policymaking, staffing and campaigning, and be fully accountable to Party conference via reports which can be scrutinised by delegates.</li>
    <li>The six positions representing the Shadow Cabinet and Parliamentary Labour Party should be replaced by four places reserved for MPs. Two of these should be elected by members and two by trade unions.</li>
    <li>The two positions representing the Association of Labour Councillors should be replaced by two positions reserved for councillors. One of these should be elected by members and one by trade unions.</li>
    <li>Socialist societies should be elected by Party conference by the full electoral college.</li>
    <li>The Young Labour representative should be elected via an OMOV ballot of all members under the age of 27.</li>
    <li>The Black, Asian and Minority Ethnic (BAME) representative should be elected via an OMOV ballot of all party members identifying as being BAME.</li>
    <li>Disabled members should be represented by one person on the NEC, who should be elected via a One Member One Vote of disabled members.</li>
    <li>The Scottish and Welsh Labour Parties should have representatives who are elected by the Scottish and Welsh Party Conference.</li>
    <li>There should be one additional CLP representative, taking the total number of CLP representatives which are not reserved for MPs or other elected representatives to ten.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Draft_Proposal_for_the_NEC.pdf' %}" target="_blank">Full proposal</a> | Source: Proposals by <a href="{% url 'review:proposal' 131 %}" target="_blank">Jody</a>, <a href="{% url 'review:proposal' 79 %}" target="_blank">Alice</a>, <a href="{% url 'review:proposal' 36 %}" target="_blank">Sarah</a>, <a href="{% url 'review:proposal' 159 %}" target="_blank">Tanbir</a> and contributions from the NCG.</p>
<br/>
{{ voting_context|question_and_choices:23 }}

<br/><hr><br/>
<h4>Trade Union Link</h4>
<br/>
<p>SUMMARY: The trade union link should be defended and strengthened at all levels of the party. Key points include:</p>
<ul>
    <li>Trade union representation in the Labour Party should be based on the principle that everyone on key national and local bodies (NEC, NPF, Regional Boards, Local Government Committees) must have a direct mandate from members, trade unions or both.</li>
    <li>Trade union representation in the Labour Party should be based on the principle that everyone on the principle of parity between TUs and members on these bodies.</li>
    <li>Existing rules requiring representatives to be trade union members should be enforced.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Proposal_for_the_Trade_Union_Link.pdf' %}" target="_blank">Full proposal</a> | Source: Proposals by <a href="{% url 'review:proposal' 45 %}" target="_blank">Pavlos</a>, <a href="{% url 'review:proposal' 79 %}" target="_blank">Alice</a>, <a href="{% url 'review:proposal' 163 %}" target="_blank">Jonny</a> and contributions from the NCG.</p>
<br/>
{{ voting_context|question_and_choices:24 }}

<br/><hr><br/>
<h4>Policymaking</h4>
<br/>
{{ voting_context|question_and_choices:25 }}
{{ voting_context|question_and_choices:26 }}
<br/>
<p>SUMMARY: The Labour Party’s existing policymaking processes should be reformed to enhance representation of members and trade unions.</p>
<ul>
    <li>Policymaking should be under the direction and control of Party conference, and overseen by the NEC between conferences.</li>
    <li>Voting rights on the National Policy Forum should be reserved for people elected by members or trade unions.</li>
    <li>Members’ representatives should be elected directly into policy commissions.</li>
    <li>Party conference should be able to vote on alternative positions supported by a minority of the NPF.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Proposal_on_Policymaking.pdf' %}" target="_blank">A policymaking institution with full accountability to members and trade unions</a> | Source: Proposals by <a href="{% url 'review:proposal' 75 %}" target="_blank">Liz</a>, <a href="{% url 'review:proposal' 133 %}" target="_blank">Jody</a>, <a href="{% url 'review:proposal' 175 %}" target="_blank">Dan</a>, the <a href="{% url 'review:proposal' 8 %}" target="_blank">Members’ Council</a> and contributions from the NCG.</p>
<br/>
{{ voting_context|question_and_choices:27 }}

<br/><hr><br/>
<h4>Party Conference and Rule Changes</h4>
<br/>
<p>SUMMARY: Party Conference should be reformed to make it more democratic and effective.</p>
<ul>
    <li>Rule changes with a submission from 5 or more CLPs and affiliates should earn a waiver to 3 year rule.</li>
    <li>All constitutional amendments submitted by affiliated organisations and CLPs that are accepted as in order should be timetabled for debate at the first annual party conference following their submission.</li>
    <li>Time should be allocated to debate a motion from Women’s Conference.</li>
    <li>The NEC should develop standing orders for Party conference.</li>
    <li>The NEC should be required to report back on all key activities and be scrutinised by delegates.</li>
    <li>All procedures, guidance notes, codes of conduct and appendices should be moved into the Party's rule book, so that they are amendable only at Party conference, unless the NEC can demonstrate the need for an exemption.</li>
    <li>All other procedural documents should be collated in the same place as the rule book, for example on Membersnet.</li>
    <li>All changes to procedures outside of the rule book should be reported to Conference.</li>
</ul>
<p><a href="{% static 'review/composited_proposals/Momentum_Proposal_for_Party_Conference_and_Rules.pdf' %}" target="_blank">Full proposal</a> | Source: Based on proposals by <a href="{% url 'review:proposal' 74 %}" target="_blank">George</a>, <a href="{% url 'review:proposal' 107 %}" target="_blank">Michael</a>, <a href="{% url 'review:proposal' 110 %}" target="_blank">Matteo</a>, a rule change submitted last year by Islington North and South Derbyshire, another rule change submitted by Blackley and Broughton, Burnley, Filton and Bradley Stoke and Newport West, and contributions from the NCG.</p>
<br/>
{{ voting_context|question_and_choices:28 }}


