{% extends "mxv/base.html" %}
{% load static %}

{% block title%}Moderation Policy{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review</a></li>
    <li class="breadcrumb-item active">Moderation Policy</li>
{% endblock %}

{% block content %}
    <p>All proposals, comments, and suggested amendments need to be in line with Momentum’s <a href="http://www.peoplesmomentum.com/ethics" target="_blank">Code of Ethics</a>, which promotes the values that Jeremy popularised during the 2015 and 2016 leadership campaigns, of fair, honest debate focused on policies, not personal attacks or harassment, and contributions which contravene that will be removed. Meanwhile, contributions which do not explicitly contravene the Code of Ethics, but are expressed in a way which is uncomradely or aggressive may be contacted by the Momentum office and asked to moderate their tone, while contributors of proposals or comments which are irrelevant will be encouraged to make them in a different forum.</p>   
    <p>All members have collective responsibility to ensure that the platform is used in ways that are in keeping with the content and spirit of these values, and members can do this by flagging up comments they consider to be abusive, problematic, or irrelevant, by clicking on the 'Request moderation' button, and explaining why they think the comment should be moderated. Once they have done that, a member of staff will be notified and consider whether it is necessary to moderate. People who abuse this functionality by using it inappropriately or excessively may have their access removed.</p> 
{% endblock %}