{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Activate{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Activate</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <h4>Hi {{ member.name }}.</h4>
            <p>Welcome to {{ site_name_long }}.</p>
            <p>Choose a password and we'll log you in:</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                <button type="submit" class="btn btn-primary">Set password</button>
            </form>
        </div>
    </div>
{% endblock %}