{% extends "mxv/base.html" %}
{% load static widget_tweaks %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            {% if not member_in_nation_builder %}
                <p>Can't look up profile, please contact Momentum and let them know: <a href="{{ error_mailto }}">membership@peoplesmomentum.com</a></p>
            {% elif nation_builder_busy %}
                <p>Sorry, the site is too busy right now to load your profile.  Please <a href="{{ page_url }}">try again</a> in a little while.</p>
            {% else %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <!-- name -->
                    <h5 class="mb-4">Name</h5>
                    {% include 'mxv/includes/form_field.html' with field=form.person__first_name %}
                    {% include 'mxv/includes/form_field.html' with field=form.person__last_name %}
                    
                    <!-- emails -->
                    <h5 class="mb-4">Email</h5>
                    {% include 'mxv/includes/form_field.html' with field=form.email|attr:"readonly:True" %}
                    {% if not hide_other_email %}
                        {% include 'mxv/includes/form_field.html' with field=form.person__email|attr:"readonly:True" %}
                        <input type="radio" name="other_email" value="replace_other_with_login" class="mb-2 mr-2" id="other_email_replace"><label for="other_email_replace">Replace this other email with the login email</label><br>
                        <input type="radio" name="other_email" value="use_other_as_login" class="mb-4 mr-2" id="other_email_use"><label for="other_email_use">Use this other email as the login email instead</label><br>
                    {% else %}
                        <input type="hidden" name="hide_other_email">
                    {% endif %}
                    
                    <!-- change login email -->
                    <a href="{% url 'members:change_login_email' %}" class="btn btn-primary mb-4">Change login email</a>
                                 
                    <!-- extra fields -->
                    <h5 class="mb-4">Other</h5>
                    {% include 'mxv/includes/form.html' with exclude_from_form=exclude_from_form %}
                    <button type="submit" class="btn btn-success">Save changes</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}