{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <h4>{{ email }}</h4><br/>
            {% if not member_in_nation_builder %}
            Can't look up profile, please contact Momentum and let them know: membership@peoplesmomentum.com
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}