{% extends "mxv/base.html" %}
{% load static %}

{% block title %}Request activation email{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Request activation email</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                 <button type="submit" class="btn btn-primary">Request activation email</button>
            </form>
        </div>
    </div>
{% endblock %}