{% extends "mxv/base.html" %}
{% load static widget_tweaks %}

{% block title %}Update details{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Update details</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            {% if not user_in_nation_builder %}
                Can't look up details, please contact Momentum and let them know: <a href="{{ error_mailto }}">membership@peoplesmomentum.com</a>
            {% else %}
                <h5>Page {{ page }} of 2</h5><br/>
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <!-- tag group forms -->
                    {% for tag_group in tag_groups %}
                        <hr>
                        <p>{{ tag_group.header|safe }}</p>
                        {% include 'mxv/includes/form.html' with form=tag_group.form exclude_from_form=exclude_from_form %}
                        <p>{{ tag_group.footer|safe }}</p>
                    {% endfor %}
                    
                    <!-- fields form -->
                    {% if fields_form %}
                        <p>{{ fields_page_header|safe }}</p>
                        <hr>
                        {% include 'mxv/includes/form.html' with form=fields_form exclude_from_form=exclude_from_form %}
                        <hr>
                        <p>{{ fields_page_footer|safe }}</p>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-success">{% if page == 1 %}Next{% else %}Update your details{% endif%}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}