<!-- admin site theme -->
{% extends 'admin/base_site.html' %}

<!-- widgets' media -->
{% block extrahead %}
    {{ form.media }}
{% endblock %}

<!-- internationalisation -->
{% load i18n static %}

<!-- breadcrumbs -->
{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="/admin/">{% trans "Home" %}</a> >Member activation email</div>
{% endblock %}

<!-- content -->
{% block content %}

<form action="{% url 'member_activation_email' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

{% endblock %}
